.main
    .container
        a(href='#').main__logo
            img(src='./img/logo.svg')
        .main__info
            .main__title
                p APOSTAS ILIMITADAS DE eSPORTS COM
                p CRIPTOMOEDAS DESDE 2015!
            .main__bonus Bônus de boas-vindas
                span  até US$ 700
            a(href='#').main__btn APOSTE AGORA
    .main__btn-container
        a(href='#').main__btn APOSTE AGORA
    .main__steps
        .container
            .main__step
                .main__step__img
                    img(src='./img/01.svg').number
                    img(src='./img/blue-arrow.png').arrow
                .main__step__info
                    .main__step__title INSCREVA-SE
                    .main__step__description Abra uma conta rápida
                        p.hidden hidden
            .main__step
                .main__step__img
                    img(src='./img/02.svg').number
                    img(src='./img/blue-arrow.png').arrow
                .main__step__info
                    .main__step__title DEPOSITE
                    .main__step__description Depósito instantâneo com mais
                        p de 20 criptomoedas!
            .main__step
                .main__step__img
                    img(src='./img/03.svg').number
                    img(src='./img/blue-arrow.png').arrow
                .main__step__info
                    .main__step__title BÔNUS
                    .main__step__description Pegue XP para abrir o
                        p Baú de Boas-vindas
.about
    .container
        .about__list
            .about__img
                img(src='./img/PT/banner_1_pt.png')
            .about__img
                img(src='./img/PT/banner_2_pt.png')
            .about__img
                img(src='./img/PT/banner_3_pt.png')
            .about__img
                img(src='./img/PT/banner_4_pt.png')
.coins
    .container
        .coins__title Aposte, deposite e faça retiradas em mais de 20 criptomoedas!
        .coins__list
            .coins__item
                .coins__img
                    img(src='./img/BTC.svg')
                .coins__name Bitcoin
                .coins__name-short BTC
            .coins__item
                .coins__img
                    img(src='./img/ETH.svg')
                .coins__name Ethereum
                .coins__name-short ETH
            .coins__item
                .coins__img
                    img(src='./img/XRP.svg')
                .coins__name Ripple
                .coins__name-short XRP
            .coins__item
                .coins__img
                    img(src='./img/LTC.svg')
                .coins__name Litecoin
                .coins__name-short LTC
            .coins__item
                .coins__img
                    img(src='./img/USDT.svg')
                .coins__name Tether
                .coins__name-short USDT
            .coins__item
                .coins__img
                    img(src='./img/DOGE.svg')
                .coins__name Dogecoin
                .coins__name-short DOGE
            .coins__item
                .coins__img
                    img(src='./img/BNB.svg')
                .coins__name Binance Coin
                .coins__name-short BNB
            .coins__item
                .coins__img
                    img(src='./img/BUSD.svg')
                .coins__name Binance USD
                .coins__name-short BUSD
            .coins__item
                .coins__img
                    img(src='./img/ETC.svg')
                .coins__name Ethereum Classic
                .coins__name-short ETC
            .coins__item
                .coins__img
                    img(src='./img/BCH.svg')
                .coins__name Bitcoin Cash
                .coins__name-short BCH
            .coins__item
                .coins__img
                    img(src='./img/ZEC.svg')
                .coins__name ZCash
                .coins__name-short ZEC
            .coins__item
                .coins__img
                    img(src='./img/DGB.svg')
                .coins__name Digibyte
                .coins__name-short DGB
            .coins__item
                .coins__img
                    img(src='./img/EOS.svg')
                .coins__name EOS
                .coins__name-short EOS
            .coins__item
                .coins__img
                    img(src='./img/XLM.svg')
                .coins__name Stellar
                .coins__name-short XLM
            .coins__item
                .coins__img
                    img(src='./img/TRX.svg')
                .coins__name Tron
                .coins__name-short
            .coins__item
                .coins__img
                    img(src='./img/TRX-dash.svg')
                .coins__name Dash
                .coins__name-short TRX
            .coins__item
                .coins__img
                    img(src='./img/BTG.svg')
                .coins__name Bitcoin Gold
                .coins__name-short BTG
            .coins__item
                .coins__img
                    img(src='./img/NEO.svg')
                .coins__name Neo
                .coins__name-short NEO
            .coins__item
                .coins__img
                    img(src='./img/QTUM.svg')
                .coins__name QTUM
                .coins__name-short QTUM
            .coins__item
                .coins__img
                    img(src='./img/SOL.svg')
                .coins__name Solana
                .coins__name-short SOL
            .coins__item
                .coins__img
                    img(src='./img/USDC.svg')
                .coins__name USD Coin
                .coins__name-short USDC
            .coins__item
                .coins__img
                    img(src='./img/USDC-E.svg')
                .coins__name EtherumPow
                .coins__name-short USDC
            .coins__item
                .coins__img
                    img(src='./img/ADA.svg')
                .coins__name Cardano
                .coins__name-short ADA
.footer
    .footer__list
        .footer__img.begamble
            img(src='./img/begamble.svg')
        .footer__img
            img(src='./img/responsible.svg')








